<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>DevToolsPy - Login</title>
</head>
<body>
    <header class="header">
        <div class="info">
            <div class="logo">
                <h2>DevTools</h2>
            </div>
            <div class="link">
                <a href="/">home</a>
            </div>
            <h3>{{ user }}</h3>
        </div>

    </header>
    <section class="login">
        <form method="post">
            <div class="input-user">
                <input type="text" name="name" id="user" placeholder="Username...">
            </div>
            <div class="input-pass">
                <input type="text" name="pass" id="pass" placeholder="Password...">
            </div>
            <div class="btn">    
                <button type="reset">
                    Send
                </button>
            </div>
        </form>
    </section>
</body>
</html>